.btn {
    font-size: 1.2rem;
    border: none;
    font-weight: 600;
    color: $white;
    padding: 1.8rem 2rem;
    cursor: pointer;
    transition: 0.3s;
    line-height: 2.4rem;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &--purple {
        background-color: $purple;
        outline: none;

        &:hover,
        &:focus {
            background: $purple;
        }
    }

    &--light {
        background-color: $lightpurple;
        &:hover {
          background-color: $purple;
        }
    }

    &__arrow {
        margin-left: 1rem;
        color: $green;
    }
}
