<section class="form">
<div class="container-fluid">
<figure class="section__figure">
  <form id="estimate-project-form" class="form" method="post">
    <h2 class="visually-hidden">Estimate project</h2>
    <div class="form__inner">
      <div class="form__group">
        <h3>Tell us about yourself</h3>
        <div class="form__row">
          <p class="form__field form__field--6 form__field--text"><input required="" id="first-name" name="first-name" type="text"><label for="first-name">First name</label></p>
          <p class="form__field form__field--6 form__field--text"><input required="" id="last-name" name="last-name" type="text"><label for="last-name">Last name</label></p>
        </div>
        <div class="form__row">
          <p class="form__field form__field--6 form__field--text"><input required="" id="email" name="email" type="email"><label for="email">Email</label></p>
          <p class="form__field form__field--6 form__field--text"><input id="website" name="website" type="text"><label for="website">Website URL</label></p>
        </div>
        <div class="form__row"><span class="form__field form__field--info">Make sure you use your company email address.</span></div>
      </div>
      <div class="form__group">
        <h3>What will we need to do?</h3>
        <div class="form__row">
          <p class="form__field form__field--text"><textarea required="" name="message" rows="6" placeholder="A few sentences about the product, the main goal and our role in this project."></textarea></p>
        </div>
      </div>
      <div class="form__group">
        <div class="form__row"><span class="form__field form__field--info">AWWW Sofware needs the contact information you provide to us to contact you about our products and services. You may unsubscribe from these communications at anytime. For information on how to unsubscribe, as well as our privacy practices and commitment to protecting your privacy, check out our <a href="/privacy-policy">Privacy Policy</a>.</span></div>
      </div>
      <div class="form__group">
        <div class="form__row">
          <div class="form__field"><button class="btn btn--purple btn--small btn--long" name="send_email" value="1">Send</button></div>
        </div>
      </div>
    </div>
    <div class="form__sent" style="text-align:center">
      <h3>Your message has been sent</h3>
      <h3>We will contact you soon</h3></div>
  </form>
</figure>
</div>
</section>
