<!--Header2-->
<nav class="navbar navbar-default navbar-fixed-top navbar-expand-lg navbar-light header" data-spy="affix">
  <div class="container">
    <a class="header__logo" href="#"><img src="../../images/awww-software.svg" class="" alt="esseliv-left"></a>
    <button class="navbar-toggler collapsed border-0" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <div id="nav-icon1">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </button>
    <div class="navbar-collapse display-flex float-right collapse" id="navbarCollapse" style="">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link smooth-scroll" href="#what-we-do">About us<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#2">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#3">Case studies</a>
        </li>
        <li class="nav-item--round">
          <a class="nav-link smooth-scroll" href="#footer">Contact</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
<!--/.Header2-->
