<div id="history-container">
  <main>
    <section class="hero hero--big">
      <div class="container-fluid">
        <div class="hero__container">
          <h2 class="hero__title" data-aos="fade-up">
            We create webistes<br>and eCommerce
          </h2>
        </div>
        <div class="hero__content" data-aos="fade-up">
          <p>WordPress &amp; WooCommerce Software House</p>
        </div>
        <div class="hero__buttons" data-aos="fade-up">
          <a href="#what-we-do" class="btn btn--light smooth-scroll">What we do</a>
          <a href="" class="btn btn--light">Watch team video</a>
        </div>
        <div class="hero__lotto d-none d-sm-flex">
          <img src="../../images/Lotto_logo_polska.svg" class="img-fluid" alt="lotto">
          <img src="../../images/Lotto_logo_polska.svg" class="img-fluid" alt="lotto">
          <img src="../../images/Lotto_logo_polska.svg" class="img-fluid" alt="lotto">
          <img src="../../images/Lotto_logo_polska.svg" class="img-fluid" alt="lotto">
          <img src="../../images/Lotto_logo_polska.svg" class="img-fluid" alt="lotto">
          <img src="../../images/Lotto_logo_polska.svg" class="img-fluid" alt="lotto">
        </div>
      </div>
    </section>
  </main>
</div>
