<section tabindex="-1" id="section" class="section section__technology section--bg-dark">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="section__content">
          <h2 data-aos="fade-up">Technology</h2>
          <div data-aos="fade-up">
            <p>We create beautiful, fast and secure website tailored exclusively for your business goals. We cover frontend and backend using top and most innovative tech stacks. We are experienced in using Wordpress CMS.</p>
            <p>
              CSS3, Bootstrap, SCSS, BEM, RWD, JavaScript, jQuery, ES6+, Gulp, Git, NPM, PWA, React, Redux, NodeJS, PHP, MySQL, MongoDB, WordPress, ACF, WooCommerce
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <figure class="section__image"><img src="../../images/awww-stack.png" alt=""></figure>
      </div>
    </div>
  </div>
</section>
