<section tabindex="-1" id="what-we-do" class="section section--reverse">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <figure class="section__image">
          <img src="../../images/awww-illustration-1.png" class="img-fluid" alt="whatwedo">
        </figure>
      </div>
      <div class="col-lg-6">
        <div class="section__content">
          <h2 data-aos="fade-up">What we do</h2>
          <div data-aos="fade-up">
            <p>We create dynamic website and eCommerce. We know that new image is new possibilities and new possibilities are the new clients.</p>
            <p>Services are here provided in a holistic way. Precisely, conceptually, in awareness of fresh tendencies and we apply it well. We will set your company apart from the others by emphasizing its unique character.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
